<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="Bootstrap Admin App"/>
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin"/>
    <!--    <link rel="icon" type="image/x-icon" href="favicon.ico">-->

    <!--Biel favicon 설정-->
    <link rel="shortcut icon" href="/images/favicon.ico"/>
    <title>Biel 암판정</title>
    <!-- =============== VENDOR STYLES ===============-->
    <!-- FONT AWESOME-->
    <link rel="stylesheet" href="vendor/@fortawesome/fontawesome-free/css/brands.css"/>
    <link rel="stylesheet" href="vendor/@fortawesome/fontawesome-free/css/regular.css"/>
    <link rel="stylesheet" href="vendor/@fortawesome/fontawesome-free/css/solid.css"/>
    <link rel="stylesheet" href="vendor/@fortawesome/fontawesome-free/css/fontawesome.css"/>
    <!-- SIMPLE LINE ICONS-->
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css"/>
    <!-- ANIMATE.CSS-->
    <link rel="stylesheet" href="vendor/animate.css/animate.css"/>
    <!-- WHIRL (spinners)-->
    <link rel="stylesheet" href="vendor/whirl/dist/whirl.css"/>
    <!-- =============== PAGE VENDOR STYLES ===============-->
    <!-- WEATHER ICONS-->
    <link rel="stylesheet" href="vendor/weather-icons/css/weather-icons.css"/>
    <!-- =============== BOOTSTRAP STYLES ===============-->
    <link rel="stylesheet" href="css/bootstrap.css" id="bscss"/>
    <!-- =============== APP STYLES ===============-->
    <link rel="stylesheet" href="css/app.css" id="maincss"/>
    <!--button css 설정-->
    <link rel="stylesheet" href="css/rmr.css"/>
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">-->
</head>
<body>
<div id="pdf_wrap">
    <!--modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">MODAL_TEST</h1>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- Page content-->
<div class="content-wrapper">
    <div class="content-heading">
        <div>R.M.R Check List<small data-localize="dashboard.WELCOME"></small></div>
        <!-- START Language list-->
        <div class="ml-auto">
            <!--<div class="btn-group"><button class="btn btn-secondary dropdown-toggle dropdown-toggle-nocaret" type="button" data-toggle="dropdown">English</button>-->
            <div class="dropdown-menu dropdown-menu-right-forced animated fadeInUpShort" role="menu">
                <a class="dropdown-item" href="#" data-set-lang="en">English</a><a class="dropdown-item" href="#"
                                                                                   data-set-lang="es">Spanish</a>
            </div>
        </div>
        <!-- <button class="mb-1 btn btn-primary" data-toggle="modal" data-target="#newDeviceModal" type="button">새 장비 추가</button> -->
        <!-- button 추가-->
        <button class="mb-1 btn btn-primary" id="btn_select">목록</button>
        <button class="mb-1 btn btn-danger" id="btn_save">저장</button>
        <button class="mb-1 btn btn-warning" id="btn_update">수정</button>
        <button class="mb-1 btn btn-success" id="btn_pdf">PDF Create</button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" id="modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
            TEST MODAL
        </button>
    </div>
    <!-- END Language list-->
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" style="text-align: center;">
                <tr>
                    <td colspan="13">공 사 명 : XX-XX간 도로공사 일시 : 2021년 2월 2일</td>
                </tr>
                <tr>
                    <td colspan="2">터널구간</td>
                    <td colspan="2">방향</td>
                    <td colspan="2">특징</td>
                    <td colspan="4">STA.13 +</td>
                    <td colspan="3">시정부</td>
                </tr>
                <tr>
                    <td colspan="13">1. 항목별 평가</td>
                </tr>
                <tr>
                    <td rowspan="2">①</td>
                    <td>해머타격상태</td>
                    <td colspan="2">해머타격시 튀어오르고 불꽃이 튀는 정도(극경암)</td>
                    <td colspan="2">강한 해머타격에 갈라지며 불연속면을 따라 비교적 크게 갈라짐(경암)</td>
                    <td colspan="2">해머타격에 갈라지며 불연속면을 따라 비교적 소면으로 갈라짐(연암)</td>
                    <td colspan="2">해머를 치면 XXX을 내고 부서지며 균열이 되면서 갈라짐 (연암-풍화암)</td>
                    <td colspan="3">약한 해머타격에 부서지고 일부 손으로도 부서질 정도로 긁힌다 (풍화암-풍화토)</td>
                </tr>
                <tr>
                    <td>일축압축강도 (㎏/㎠)</td>
                    <td colspan="2" class="ss"><input type="radio" name="cellcolorchange1" id="strength" value="15"
                                                      class="num"/>&gt 2500
                    </td>
                    <td colspan="2" class="ss"><input type="radio" name="cellcolorchange1" id="strength" value="12"
                                                      class="num"/>2500 - 1000
                    </td>
                    <td colspan="2" class="ss"><input type="radio" name="cellcolorchange1" id="strength" value="7"
                                                      class="num"/>1000 - 500
                    </td>
                    <td colspan="2" class="ss"><input type="radio" name="cellcolorchange1" id="strength" value="4"
                                                      class="num"/>500 - 250
                    </td>
                    <td colspan="3" class="ss"><input type="radio" name="cellcolorchange1" id="strength" value="2"
                                                      class="num"/>&lt 250
                    </td>
                </tr>
                <tr>
                    <td colspan="2">평점</td>
                    <td colspan="2">15</td>
                    <td colspan="2">12</td>
                    <td colspan="2">7</td>
                    <td colspan="2">4</td>
                    <td colspan="3">2</td>
                </tr>
                <tr>
                    <td colspan="2">
                        ②<br/>
                        암질계수(%)
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange2" id="coefficient" value="20"
                                           class="num"/>90-100
                    </td>
                    <td colspan="2 "><input type="radio" name="cellcolorchange2" id="coefficient" value="17"
                                            class="num"/>75 - 90
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange2" id="coefficient" value="13"
                                           class="num"/>50 - 75
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange2" id="coefficient" value="8" class="num"/>25
                        - 50
                    </td>
                    <td colspan="3"><input type="radio" name="cellcolorchange2" id="coefficient" value="3" class="num"/>&lt
                        25
                    </td>
                </tr>
                <tr>
                    <td colspan="2">평점</td>
                    <td colspan="2">20</td>
                    <td colspan="2">17</td>
                    <td colspan="2">13</td>
                    <td colspan="2">8</td>
                    <td colspan="3">3</td>
                </tr>
                <tr>
                    <td colspan="2">
                        ③<br/>
                        절리면 간격
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange3" id="joint_spacing" value="20"
                                           class="num"/>&gt 2m
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange3" id="joint_spacing" value="15"
                                           class="num"/>0.6 ~ 2m
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange3" id="joint_spacing" value="10"
                                           class="num"/>600~200mm
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange3" id="joint_spacing" value="8"
                                           class="num"/>60~200mm
                    </td>
                    <td colspan="3"><input type="radio" name="cellcolorchange3" id="joint_spacing" value="5"
                                           class="num"/>&lt 60mm
                    </td>
                </tr>
                <tr>
                    <td colspan="2">평점</td>
                    <td colspan="2">20</td>
                    <td colspan="2">15</td>
                    <td colspan="2">10</td>
                    <td colspan="2">8</td>
                    <td colspan="3">5</td>
                </tr>
                <tr>
                    <td rowspan="10">
                        ④<br/>
                        불연속면의 상태
                    </td>
                    <td>절리길이</td>
                    <td colspan="2"><input type="radio" name="cellcolorchange4" id="joint_length" value="6"
                                           class="num"/>1m 미만
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange4" id="joint_length" value="4"
                                           class="num"/>1~3m
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange4" id="joint_length" value="2"
                                           class="num"/>3~10m
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange4" id="joint_length" value="1"
                                           class="num"/>10~20m
                    </td>
                    <td colspan="3"><input type="radio" name="cellcolorchange4" id="joint_length" value="0"
                                           class="num"/>20m이상
                    </td>
                </tr>
                <tr>
                    <td>평점</td>
                    <td colspan="2">6</td>
                    <td colspan="2">4</td>
                    <td colspan="2">2</td>
                    <td colspan="2">1</td>
                    <td colspan="3">0</td>
                </tr>
                <tr>
                    <td>절리틈새</td>
                    <td colspan="2"><input type="radio" name="cellcolorchange5" id="joint_gap" value="6" class="num"/>없음
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange5" id="joint_gap" value="5" class="num"/>0.1mm이하
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange5" id="joint_gap" value="4" class="num"/>0.1~1.0mm
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange5" id="joint_gap" value="1" class="num"/>1~5mm
                    </td>
                    <td colspan="3"><input type="radio" name="cellcolorchange5" id="joint_gap" value="0" class="num"/>5mm
                        이상
                    </td>
                </tr>
                <tr>
                    <td>평점</td>
                    <td colspan="2">6</td>
                    <td colspan="2">5</td>
                    <td colspan="2">4</td>
                    <td colspan="2">1</td>
                    <td colspan="3">0</td>
                </tr>
                <tr>
                    <td>거칠기</td>
                    <td colspan="2"><input type="radio" name="cellcolorchange6" id="asperity" value="6" class="num"/>아주
                        거침
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange6" id="asperity" value="4" class="num"/>거침
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange6" id="asperity" value="2" class="num"/>약간
                        거침
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange6" id="asperity" value="2" class="num"/>평탄
                    </td>
                    <td colspan="3"><input type="radio" name="cellcolorchange6" id="asperity" value="0" class="num"/>평면
                    </td>
                </tr>
                <tr>
                    <td>평점</td>
                    <td colspan="2">6</td>
                    <td colspan="2">4</td>
                    <td colspan="2">2</td>
                    <td colspan="2">2</td>
                    <td colspan="3">0</td>
                </tr>
                <tr>
                    <td>충전물</td>
                    <td colspan="2"><input type="radio" name="cellcolorchange7" id="filling" value="6" class="num"/>없음
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange7" id="filling" value="5" class="num"/>경질
                        &lt 5
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange7" id="filling" value="3" class="num"/>경질
                        &gt 5
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange7" id="filling" value="1" class="num"/>연질
                        &lt 5
                    </td>
                    <td colspan="3"><input type="radio" name="cellcolorchange7" id="filling" value="0" class="num"/>연질
                        &gt 5
                    </td>
                </tr>
                <tr>
                    <td>평점</td>
                    <td colspan="2">6</td>
                    <td colspan="2">5</td>
                    <td colspan="2">3</td>
                    <td colspan="2">1</td>
                    <td colspan="3">0</td>
                </tr>
                <tr>
                    <td>풍화도</td>
                    <td colspan="2"><input type="radio" name="cellcolorchange8" id="weathering_degree" value="6"
                                           class="num"/>신선
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange8" id="weathering_degree" value="5"
                                           class="num"/>약간 풍화
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange8" id="weathering_degree" value="3"
                                           class="num"/>보통
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange8" id="weathering_degree" value="1"
                                           class="num"/>심한 풍화
                    </td>
                    <td colspan="3"><input type="radio" name="cellcolorchange8" id="weathering_degree" value="0"
                                           class="num"/>완전 분해
                    </td>
                </tr>
                <tr>
                    <td>평점</td>
                    <td colspan="2">6</td>
                    <td colspan="2">5</td>
                    <td colspan="2">3</td>
                    <td colspan="2">1</td>
                    <td colspan="3">0</td>
                </tr>
                <tr>
                    <td rowspan="2" class="water">
                        ⑤<br/>
                        지하수
                    </td>
                    <td>일반적인 상태</td>
                    <td colspan="2">건조상태</td>
                    <td colspan="2">습윤</td>
                    <td colspan="2">젖음</td>
                    <td colspan="2">벽면을 타고 물이 흐름</td>
                    <td colspan="3">피압수, 집중출수</td>
                </tr>
                <tr>
                    <td>10m당 유입량(ℓ/min)</td>
                    <td colspan="2"><input type="radio" name="cellcolorchange9" id="underground_water" value="15"
                                           class="num"/>없음
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange9" id="underground_water" value="10"
                                           class="num"/>10미만
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange9" id="underground_water" value="7"
                                           class="num"/>10~25
                    </td>
                    <td colspan="2"><input type="radio" name="cellcolorchange9" id="underground_water" value="4"
                                           class="num"/>25~125
                    </td>
                    <td colspan="3"><input type="radio" name="cellcolorchange9" id="underground_water" value="0"
                                           class="num"/>125초과
                    </td>
                </tr>
                <tr>
                    <td colspan="2">평점</td>
                    <td colspan="2">15</td>
                    <td colspan="2">10</td>
                    <td colspan="2">7</td>
                    <td colspan="2">4</td>
                    <td colspan="3">0</td>
                </tr>
                <tr>
                    <td rowspan="4">
                        ⑤<br/>
                        절리방향에 따른 보정
                    </td>
                    <td>주향</td>
                    <td colspan="8">주향이 터널방향과 수직</td>
                    <td colspan="2" rowspan="2">주향과 터널축이 평행</td>
                    <td rowspan="2">주향에 상관없음</td>
                </tr>
                <tr>
                    <td>경사방향</td>
                    <td colspan="4">경사방향굴착</td>
                    <td colspan="4">경사방향과 반대로 굴착</td>
                </tr>
                <tr>
                    <td>경사각</td>
                    <td colspan="2">45˚ ~ 90˚</td>
                    <td colspan="2">20˚ ~ 45˚</td>
                    <td colspan="2">45˚ ~ 90˚</td>
                    <td colspan="2">20˚ ~ 45˚</td>
                    <td>45˚ ~ 90˚</td>
                    <td>20˚ ~ 45˚</td>
                    <td>0˚ ~ 20˚</td>
                </tr>
                <tr>
                    <td>보정치</td>
                    <td colspan="2">0</td>
                    <td colspan="2">-2</td>
                    <td colspan="2">-5</td>
                    <td colspan="2">-10</td>
                    <td>-12</td>
                    <td>-5</td>
                    <td>-5</td>
                </tr>
                <tr>
                    <td rowspan="2">지보분류</td>
                    <td>총평점</td>
                    <td>91~100</td>
                    <td>81~90</td>
                    <td>61~80</td>
                    <td>41~60</td>
                    <td>21~40</td>
                    <td>20이하</td>
                    <td>20이하</td>
                    <td>-</td>
                    <td>-</td>
                    <td colspan="2">비 고</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>type-1A</td>
                    <td>type-1B</td>
                    <td>type-2</td>
                    <td>type-3</td>
                    <td>type-4</td>
                    <td>type-5A</td>
                    <td>type-5B</td>
                    <td>type-6A</td>
                    <td>type-6B</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td colspan="2">2. 총 점(①+②+③+④+⑤)-⑥</td>
                    <td colspan="6" id="sum" style="font-size: 1.5875rem; background-color: #dff0d8;"></td>
                    <td colspan="2">특기사항</td>
                    <td colspan="3"></td>
                </tr>
            </table>
            <form>
                <!--radiobutton-->
                <span class="input_style">Radio Button</span><br>
                <input type="radio" name="ra_btn" value="10" /> 10대
                <input type="radio" name="ra_btn" value="20" /> 20대
                <input type="radio" name="ra_btn" value="30" /> 30대
                <br><br>
                <!--checkboxbutton-->
                <span class="input_style">Check Box</span><br>
                <input type="checkbox" class="chk_btn" name="chk_btn" value="10" onclick="doOpenCheck(this);" /> 10대
                <input type="checkbox" class="chk_btn" name="chk_btn" value="20" onclick="doOpenCheck(this);" /> 20대
                <input type="checkbox" class="chk_btn" name="chk_btn" value="30" onclick="doOpenCheck(this);" /> 30대
                <br><br>
                <!--editbox-->
                <span class="input_style">Edit Box</span><br>
                <input type="text" id="ex_edit" placeholder="숫자를 입력해주세요"
                       onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
                <br><br>
                <!--range-->
                <span class="input_style">Range</span><br>
                <div>
                    <label id="range_value_label"> Value : </label>
                    <span id="range_value"></span>
                    <br>
                    <font id="slider_value_view">0</font>
                    <input type="range" value="0" min="0" max="1000" step="5" id="range_num"
                           oninput="document.getElementById('range_value').innerHTML=this.value;" />
                    <font id="slider_value_view">1000</font>
                </div>
            </form>
        </div>
    </div>
</div>
    <!--div class="row">
< !-- START dashboard main content-- >
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">

<thead>
<tr>
<td>Location : T/L 1 upper, lower stage</td>
<td>Station : 5 + 16, lower, right enlarge</td>
</tr>
</thead>

<tbody>
<tr>
<td colspan="3">일축압축강도 평가</td>
</tr>

<tr>
<td>표현</td>
<td>현장확인내용</td>
<td>개략강도(MPa)</td>
</tr>

<tr>
<td>극히 강함</td>
<td>지질해머로 자국을 내는 것만 가능한 상태</td>
<td> > 250/td>
</tr>

<tr>
<td>매우 강함</td>
<td>깨려면 지질해머로 매우 여러 번 타격해야 하는 상태 </td>
<td>100 ~ 250</td>
</tr>

<tr>
<td>강 함</td>
<td>깨려면 지질 해머로 한 번 또는 약간 더 타격해야 하는 상태</td>
<td>50 ~ 100</td>
</tr>

<tr>
<td>보통 강함</td>
<td>깨려면 지질 해머의 한 번 타격으로 깨지며, 주머니칼로 흠집을 내거나 (껍질처럼) 벗겨 낼 수 없는 상태</td>
<td>25 ~ 50</td>
</tr>

<tr>
<td>약 함</td>
<td>지질해머의 뼈족한 끝으로 타격하면 얕게 파진 홈이 생기며, 주머니칼로 (껍질처럼) 벗겨낼 수 없는 상태</td>
<td>5 ~ 25</td>
</tr>

<tr>
<td>매우 약함</td>
<td>지질해머의 뼈족한 끝으로 타격하면 박살이 나며, 주머니칼로 (껍질처럼) 벗겨낼 수 없는 상태</td>
<td>1 ~ 5</td>
</tr>

<tr>
<td>극히 약함</td>
<td>엄지손가락의 힘으로 누르면 약간 들어가는 상태</td>
<td>0.25 ~ 1</td>
</tr>

</tbody>
</table>

<table class="table table-striped table-bordered table-hover">

<thead>
<tr>
<th>RQD(%)</th>
</tr>
</thead>

<tbody>
<tr>
<td>매우 좋음</td>
<td>90~100%</td>
<td>1</td>
</tr>

<tr>
<td>좋 음</td>
<td>75~90%</td>
<td>2</td>
</tr>

<tr>
<td>보 통</td>
<td>50~75%</td>
<td>3</td>
</tr>

<tr>
<td>나 쁨</td>
<td>25~50%</td>
<td>4</td>
</tr>

<tr>
<td>매우 나쁨</td>
<td> &lt 25%</td>
<td>5</td>
</tr>

</tbody>
</table>

<table class="table table-striped table-bordered table-hover">
<thead>
<tr>
<th>지하수 조건</th>
</tr>
</thead>

<tbody>
<tr>
<td>10미터기준 분당유출(L/분)</td>
<td>&lt10</td>
<td>10</td>
</tr>

<tr>
<td>건 조</td>
<td>유출 없음</td>
<td>15</td>
</tr>

<tr>
<td>습 윤</td>
<td>&lt10</td>
<td>10</td>
</tr>

<tr>
<td>젖 음</td>
<td>10-20</td>
<td>7</td>
</tr>

<tr>
<td>물방울이 떨어짐</td>
<td>25-125</td>
<td>4</td>
</tr>

<tr>
<td>흐르는 상태</td>
<td> &gt 125</td>
<td>0</td>
</tr>

</tbody>
</table>

<table class="table table-striped table-bordered table-hover">
<thead>
<tr>
<th>불연속면 틈새</th>
</tr>
</thead>

<tbody>
<tr>
<td>틈 새</td>
<td>점 수</td>
</tr>

<tr>
<td>틈이 없음</td>
<td>6</td>
</tr>

<tr>
<td>&lt 0.1mm</td>
<td>5</td>
</tr>

<tr>
<td>0.1 ~ 1.0mm</td>
<td>4</td>
</tr>

<tr>
<td>1 ~ 5 mm</td>
<td>1</td>
</tr>

<tr>
<td> &gt 5mm</td>
<td>0</td>
</tr>

</tbody>
</table>

<table class="table table-striped table-bordered table-hover">
<thead>
<tr>
<th>불연속면 연장성</th>
</tr>
</thead>

<tbody>
<tr>
<td>단층 또는 전단절리와 연관된 것</td>
<td>10~20m</td>
<td>1</td>
</tr>

<tr>
<td>엽리/층리와 일치하는 절리</td>
<td>3~10m</td>
<td>2</td>
</tr>

<tr>
<td rowspan="2">불연속면 빈도/거칠기</td>
<td>빈도 높고 매끄러움</td>
<td>3~10m</td>
<td>2</td>
</tr>

<tr>
<td>불연속면 거칠음</td>
<td>1~3m</td>
<td>4</td>
</tr>

<tr>
<td rowspan="2">절리 한쪽 끝부분 보임</td>
<td>보이는 길이 >= 1.5m</td>
<td>3~10m</td>
<td>2</td>
</tr>

<tr>
<td>보이는 길이 &lt 1.5m</td>
<td>1~3m</td>
<td>4</td>
</tr>

<tr>
<td rowspan="2">절리 양쪽 끝이 보임</td>
<td>측정값 >= 1m</td>
<td>1~3m</td>
<td>2</td>
</tr>

<tr>
<td>측정값 &lt 1m</td>
<td><=1m</td>
<td>6</td>
</tr>

</tbody>
</table>

<table class="table table-striped table-bordered table-hover">
<thead>
<tr>
<th>불연속면 충전물</th>
</tr>
</thead>

<tbody>
<tr>
<td rowspan="3">단단한 충전물</td>
<td>없음</td>
<td>6</td>
</tr>

<tr>
<td>&lt 5mm</td>
<td>4</td>
</tr>

<tr>
<td>&gt 5mm</td>
<td>2</td>
</tr>

<tr>
<td rowspan="2">부드러운 충전물</td>
<td>&lt 5mm</td>
<td>2</td>
</tr>

<tr>
<td>&gt 5mm</td>
<td>0</td>
</tr>

</tbody>
</table>

<table class="table table-striped table-bordered table-hover">
<thead>
<tr>
<th>불연속면 충전물</th>
</tr>
</thead>

<tbody>
<tr>
<td>매우 연약 점토</td>
<td>&gt 0.025</td>
</tr>

<tr>
<td>연약 점토</td>
<td>0.025 ~ 0.05</td>
</tr>

<tr>
<td>단단한 점토</td>
<td>0.05 ~ 0.1</td>
</tr>

<tr>
<td>견고 점토</td>
<td>0.1 ~ 0.25</td>
</tr>

<tr>
<td>매우 견고 점토</td>
<td>0.25 ~ 0.5</td>
</tr>

<tr>
<td>고결 점토</td>
<td>&gt 0.5</td>
</tr>

</tbody>
</table>

<table class="table table-striped table-bordered table-hover">
<thead>
<tr>
<th>불연속면 거칠기</th>
</tr>
</thead>

<tbody>
<tr>
<td>매우 거칠</td>
<td>6</td>
</tr>

<tr>
<td>거칢</td>
<td>5</td>
</tr>

<tr>
<td>약간 거칣</td>
<td>3</td>
</tr>

<tr>
<td>부드러움</td>
<td>1</td>
</tr>

<tr>
<td>미끄러움</td>
<td>0</td>
</tr>

</tbody>
</table>

<table class="table table-striped table-bordered table-hover">
<thead>
<tr>
<th>불연속면 풍화도</th>
</tr>
</thead>

<tbody>
<tr>
<td>신선(Fresh)</td>
<td>6</td>
</tr>

<tr>
<td>약간 풍화(SW)</td>
<td>5</td>
</tr>

<tr>
<td>보통 풍화(MW)</td>
<td>3</td>
</tr>

<tr>
<td>심한 풍화(HW)</td>
<td>1</td>
</tr>

<tr>
<td>완전 풍화(CW)</td>
<td>0</td>
</tr>

</tbody>
</table>
</div>
</div-->
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
<!--alert css-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!--pdf 생성-->
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type="text/javascript">

    // checkbox 하나만 선택하기
    function doOpenCheck(chk){
        var obj = document.getElementsByName("chk_btn");
        for(var i=0; i<obj.length; i++){
            if(obj[i] != chk){
                obj[i].checked = false;
            }
        }
    }

    $(document).ready(function () {

        // 리스트페이지에서 id 값을 누르면 나오는 상세페이지
        // select 한 결과를 상세페이지에 넘기기
        // index.js에서 받아온 id값
        var result = "<%= id %>";

        // 상세페이지 로딩 시 목록 및 수정 버튼 보이기
        if (result != 0) {
            // 목록 버튼 보이기
            // 기본으로 display none 설정 되어있음
            $("#btn_select").css("display", "inline-block");

            // 상세페이지에서 select한 값을 라디오버튼에 찍히게 하려면?
            // select 한 결과의 id를 숫자로 변환
            var id = {
                id: Number(result),
            };

            // JSON 객체를 String 객체로 변환
            // value 데이터 타입이 string일 경우, 그 값 자체가 string
            // value 데이터 타입이 배열일 경우, 그 배열 자체가 string
            var jsonData = JSON.stringify(id);

            // 상세페이지 이동 시
            // 비동기통신으로 데이터 주고받기
            $.ajax({
                url: "/select", // select.js
                data: jsonData,
                contentType: "application/json",
                type: "post",
                success: function (data) {
                    // ajax 통신 성공하면?
                    // object로 받아온 data를 a에 저장
                    var a = data;

                    // 체크된 라디오 버튼 이외의 버튼은 활성화
                    // a에 저장된 data가 배열로 되어 있고 그 중 a[0]에 값이 적혀있기 때문에
                    $('input:radio[id="strength"]:input[value=' + a[0].strength + "]").attr("checked", true);
                    $('input:radio[id="coefficient"]:input[value=' + a[0].coefficient + "]").attr("checked", true);
                    $('input:radio[id="joint_spacing"]:input[value=' + a[0].joint_spacing + "]").attr("checked", true);
                    $('input:radio[id="joint_length"]:input[value=' + a[0].joint_length + "]").attr("checked", true);
                    $('input:radio[id="joint_gap"]:input[value=' + a[0].joint_gap + "]").attr("checked", true);
                    $('input:radio[id="asperity"]:input[value=' + a[0].asperity + "]").attr("checked", true);
                    $('input:radio[id="filling"]:input[value=' + a[0].filling + "]").attr("checked", true);
                    $('input:radio[id="weathering_degree"]:input[value=' + a[0].weathering_degree + "]").attr("checked", true);
                    $('input:radio[id="underground_water"]:input[value=' + a[0].underground_water + "]").attr("checked", true);
                    $('input:radio[name="ra_btn"]:input[value=' + a[0].ra_btn + "]").attr("checked", true);
                    $('input:checkbox[name="chk_btn"]:input[value=' + a[0].chk_btn + "]").attr("checked", true);
                    $('#ex_edit').attr('value', a[0].ex_edit);
                    $('#range_num').attr('value', a[0].range_num);
                    $("#range_value").text(a[0].range_num);

                    /*// 체크된 라디오 버튼은 비활성화
                    $('input:radio[id="strength"]:input[value=' + a[0].strength + "]:checked").attr("disabled", false);
                    $('input:radio[id="coefficient"]:input[value=' + a[0].coefficient + "]:checked").attr("disabled", false);
                    $('input:radio[id="joint_spacing"]:input[value=' + a[0].joint_spacing + "]:checked").attr("disabled", false);
                    $('input:radio[id="joint_length"]:input[value=' + a[0].joint_length + "]:checked").attr("disabled", false);
                    $('input:radio[id="joint_gap"]:input[value=' + a[0].joint_gap + "]:checked").attr("disabled", false);
                    $('input:radio[id="asperity"]:input[value=' + a[0].asperity + "]:checked").attr("disabled", false);
                    $('input:radio[id="filling"]:input[value=' + a[0].filling + "]:checked").attr("disabled", false);
                    $('input:radio[id="weathering_degree"]:input[value=' + a[0].weathering_degree + "]:checked").attr("disabled", false);
                    $('input:radio[id="underground_water"]:input[value=' + a[0].underground_water + "]:checked").attr("disabled", false);*/

                    // 라디오 버튼 클릭 시 css 변경
                    $("input:checked").parent("td").css("background-color", "#dff0d8");
                    $("input:checked").parent("td").css("font-weight", "bold");

                    // 라디오 버튼 클릭 시 값 가져와 연산
                    var strength = Number($("input:radio[id='strength']:checked").val());
                    var coefficient = Number($("input:radio[id='coefficient']:checked").val());
                    var joint_spacing = Number($("input:radio[id='joint_spacing']:checked").val());
                    var joint_length = Number($("input:radio[id='joint_length']:checked").val());
                    var joint_gap = Number($("input:radio[id='joint_gap']:checked").val());
                    var asperity = Number($("input:radio[id='asperity']:checked").val());
                    var filling = Number($("input:radio[id='filling']:checked").val());
                    var weathering_degree = Number($("input:radio[id='weathering_degree']:checked").val());
                    var underground_water = Number($("input:radio[id='underground_water']:checked").val());

                    // 총점 계산
                    let sum = strength + coefficient + joint_spacing + joint_length + joint_gap + asperity + filling + weathering_degree + underground_water;
                    $("#sum").text(sum);
                },
                error: function (err) {
                    // ajax 통신 실패하면?
                    Swal.fire("수정 실패!", "수정이 되지 않았습니다!", "error");
                },
            });

            // 수정 버튼 보이기
            // 기본으로 display none 설정 되어있음
            $("#btn_update").show();
        }

        // 메인페이지 로딩 시 목록 및 저장 버튼 보이기
        if (result == 0) {
            $("#btn_save").css("display", "inline-block");
            $("#btn_select").css("display", "inline-block");
        }

        // 목록 버튼 hover css
        $("#btn_select").hover(
            function () {
                // 마우스 올렸을 때 변경되는 색상
                $("#btn_select").css("background-color", "rgb(108, 108, 224)");
                $("#btn_select").css("border", "1px solid rgb(108, 108, 224)");
            },

            // 기본 색상
            // rmr.css에 명시되어 있음
            function () {
                $("#btn_select").css("background-color", "rgb(153,153,255)");
                $("#btn_select").css("border", "1px solid rgb(153,153,255)");
            }
        );

        // 목록 버튼 클릭 시
        // localhost:3000/list로 페이지 이동
        $("#btn_select").click(function () {
            location.href = "/list";
        });

        // 라디오 버튼 클릭 시
        $("input").click(function () {

            // 라디오 버튼을 입력 하지 않을 시 css 초기화
            $("input").parent("td").css("background-color", "");
            $("input").parent("td").css("font-weight", "");

            // 라디오 버튼 클릭 시 css 변경
            $("input:checked").parent("td").css("background-color", "#dff0d8");
            $("input:checked").parent("td").css("font-weight", "bold");

            // 라디오 버튼 클릭 시 값 가져와 연산
            var strength = Number($("input:radio[id='strength']:checked").val());
            var coefficient = Number($("input:radio[id='coefficient']:checked").val());
            var joint_spacing = Number($("input:radio[id='joint_spacing']:checked").val());
            var joint_length = Number($("input:radio[id='joint_length']:checked").val());
            var joint_gap = Number($("input:radio[id='joint_gap']:checked").val());
            var asperity = Number($("input:radio[id='asperity']:checked").val());
            var filling = Number($("input:radio[id='filling']:checked").val());
            var weathering_degree = Number($("input:radio[id='weathering_degree']:checked").val());
            var underground_water = Number($("input:radio[id='underground_water']:checked").val());

            // 총점 계산
            let sum = strength + coefficient + joint_spacing + joint_length + joint_gap + asperity + filling + weathering_degree + underground_water;

            // 항목을 전부 체크 하지 않을 시 text 내용 보여주기
            if (isNaN(sum)) {
                // sum의 값이 숫자가 아니면 true 반환
                $("#sum").text("모든 항목을 체크해주세요");

                // 항목을 전부 체크 시 값 가져와 연산하기 (총점)
            } else {
                // sum의 값이 숫자이면 false 반환
                $("#sum").text(sum);
            }
        });

        // 수정 버튼 클릭 시
        $("#btn_update").click(function () {

            // 리스트페이지에서 id 값을 누르면 나오는 상세페이지
            // 상세페이지에서 select한 값을 라디오버튼에 찍히게 하려면?
            // select 한 결과의 id를 숫자로 변환
            var result = "<%= id %>";
            result = Number(result);

            // 체크된 항목의 값을 가져와라
            var ra_btn = Number($("input:radio[name='ra_btn']:checked").val());
            var chk_btn = Number($("input:checkbox[name='chk_btn']:checked").val());
            var ex_edit = Number($('#ex_edit').val());
            var range_num = Number($('#range_num').val());

            // 라디오 버튼 클릭 시 값
            var strength = Number($("input:radio[id='strength']:checked").val());
            var coefficient = Number($("input:radio[id='coefficient']:checked").val());
            var joint_spacing = Number($("input:radio[id='joint_spacing']:checked").val());
            var joint_length = Number($("input:radio[id='joint_length']:checked").val());
            var joint_gap = Number($("input:radio[id='joint_gap']:checked").val());
            var asperity = Number($("input:radio[id='asperity']:checked").val());
            var filling = Number($("input:radio[id='filling']:checked").val());
            var weathering_degree = Number($("input:radio[id='weathering_degree']:checked").val());
            var underground_water = Number($("input:radio[id='underground_water']:checked").val());

            // 라디오 버튼 선택했을 때 값 가져와 객체에 담기
            let rmr = {
                strength: strength,
                coefficient: coefficient,
                joint_spacing: joint_spacing,
                joint_length: joint_length,
                joint_gap: joint_gap,
                asperity: asperity,
                filling: filling,
                weathering_degree: weathering_degree,
                underground_water: underground_water,
                id: result,
                ra_btn: ra_btn,
                chk_btn: chk_btn,
                ex_edit: ex_edit,
                range_num: range_num
            };

            // JSON 객체를 String 객체로 변환
            // value 데이터 타입이 string일 경우, 그 값 자체가 string
            // value 데이터 타입이 배열일 경우, 그 배열 자체가 string
            var jsonData = JSON.stringify(rmr);

            // 비동기통신으로 데이터 주고받기
            $.ajax({
                url: "/update", // update.js
                type: "post",
                data: jsonData,
                contentType: "application/json",
                success: function (data) {
                    console.log("data" + jsonData);
                    Swal.fire("수정 완료!", "수정이 완료되었습니다!", "success");
                },
                error: function (err) {
                    Swal.fire("수정 실패!", "수정이 되지 않았습니다.", "error");
                },
            });
        });

        // 모든 항목을 입력하지 않고 저장 버튼 클릭 시
        // 라디오 버튼 클릭 시 css 초기화
        $("input").click(function () {
            // 상세페이지에서 select한 값을 라디오버튼에 찍히게 하려면?
            // select 한 결과의 id를 숫자로 변환
            var result = "<%= id %>";
            result = Number(result);

            // 상세페이지가 아닌 저장(메인)페이지에서만 이 이벤트가 발생하게 조건을 넣는다.
            // 추 후 css 충돌을 막기 위한 방책
            if (result == 0) {
                $(this).parent("td").parent("tr").children("td").css("border", "1px solid black");
            }
        });

        // 저장 버튼 클릭 시
        $("#btn_save").click(function () {

            // 체크된 항목의 값을 가져와라
            var ra_btn = Number($("input:radio[name='ra_btn']:checked").val());
            var chk_btn = Number($("input:checkbox[name='chk_btn']:checked").val());
            var ex_edit = Number($('#ex_edit').val());
            var range_num = Number($('#range_num').val());

            // 라디오 버튼 클릭 시 값 가져와 연산
            var strength = Number($("input:radio[id='strength']:checked").val());
            var coefficient = Number($("input:radio[id='coefficient']:checked").val());
            var joint_spacing = Number($("input:radio[id='joint_spacing']:checked").val());
            var joint_length = Number($("input:radio[id='joint_length']:checked").val());
            var joint_gap = Number($("input:radio[id='joint_gap']:checked").val());
            var asperity = Number($("input:radio[id='asperity']:checked").val());
            var filling = Number($("input:radio[id='filling']:checked").val());
            var weathering_degree = Number($("input:radio[id='weathering_degree']:checked").val());
            var underground_water = Number($("input:radio[id='underground_water']:checked").val());

            // 총점 계산
            let sum = strength + coefficient + joint_spacing + joint_length + joint_gap + asperity + filling + weathering_degree + underground_water;

            // 항목을 전부 체크 하지 않을 시 text 내용 보여주기
            if (isNaN(sum)) {
                // sum의 값이 숫자가 아니면 true 반환
                swal("에러!", "모든 항목을 체크해주세요!", "error");

                // 체크하지 않은 항목의 테두리를 색상으로 알려줌
                if (isNaN(strength)) {
                    $("input:radio[id='strength']").parent("td").css("border", "2px solid red");
                }

                if (isNaN(coefficient)) {
                    $("input:radio[id='coefficient']").parent("td").css("border", "2px solid red");
                }

                if (isNaN(joint_spacing)) {
                    $("input:radio[id='joint_spacing']").parent("td").css("border", "2px solid red");
                }

                if (isNaN(joint_length)) {
                    $("input:radio[id='joint_length']").parent("td").css("border", "2px solid red");
                }

                if (isNaN(joint_gap)) {
                    $("input:radio[id='joint_gap']").parent("td").css("border", "2px solid red");
                }

                if (isNaN(asperity)) {
                    $("input:radio[id='asperity']").parent("td").css("border", "2px solid red");
                }

                if (isNaN(filling)) {
                    $("input:radio[id='filling']").parent("td").css("border", "2px solid red");
                }

                if (isNaN(weathering_degree)) {
                    $("input:radio[id='weathering_degree']").parent("td").css("border", "2px solid red");
                }

                if (isNaN(underground_water)) {
                    $("input:radio[id='underground_water']").parent("td").css("border", "2px solid red");
                }

                // 항목을 전부 체크 시 값 가져와 연산하기 (총점)
            } else {
                // sum의 값이 숫자이면 false 반환
                $("#sum").text(sum);

                // 라디오 버튼 선택했을 때 값 가져오기
                let rmr = {
                    strength: strength,
                    coefficient: coefficient,
                    joint_spacing: joint_spacing,
                    joint_length: joint_length,
                    joint_gap: joint_gap,
                    asperity: asperity,
                    filling: filling,
                    weathering_degree: weathering_degree,
                    underground_water: underground_water,
                    ra_btn: ra_btn,
                    chk_btn: chk_btn,
                    ex_edit: ex_edit,
                    range_num: range_num
                };

                // JSON 객체를 String 객체로 변환
                // value 데이터 타입이 string일 경우, 그 값 자체가 string
                // value 데이터 타입이 배열일 경우, 그 배열 자체가 string
                var jsonData = JSON.stringify(rmr);

                // 비동기통신으로 데이터 주고받기
                $.ajax({
                    url: "/insert", // insert.js
                    type: "post",
                    data: jsonData,
                    contentType: "application/json",
                    success: function (data) {
                        Swal.fire("저장 완료!", "저장이 완료되었습니다!", "success");
                    },
                    error: function (err) {
                        Swal.fire("저장 실패!", "저장이 되지 않았습니다!", "error");
                    },
                });
            }
        });

        // 모달이 열렸을때 이벤트
        $(document).on('show.bs.modal', '#exampleModal', function () {

            // 체크한 것을 초기화
            $(".modal-body").empty();

            // 체크된 항목의 값을 가져와라
            var ra_btn = Number($("input:radio[name='ra_btn']:checked").val());
            var chk_btn = Number($("input:checkbox[name='chk_btn']:checked").val());
            var ex_edit = Number($('#ex_edit').val());
            var range_num = Number($('#range_num').val());

            // 모달 창에 값을 띄워주기
            if (ra_btn != undefined && chk_btn != undefined && ex_edit != 0 && range_num != 0) {
                $(".modal-body").append("<h4>" + "라디오버튼의 값은?" + "</<h4>" + "<br>" + "<h2>" + $("input:radio[name='ra_btn']:checked").val() + "대" + "</h2>" + "<br>");
                $(".modal-body").append("<h4>" + "체크박스의 값은?" + "</<h4>" + "<br>" + "<h2>" + $("input:checkbox[name='chk_btn']:checked").val() + "대" + "</h2>" + "<br>");
                $(".modal-body").append("<h4>" + "에디터박스의 값은?" + "</<h4>" + "<br>" + "<h2>" + ex_edit + "</h2>" + "<br>");
                $(".modal-body").append("<h4>" + "range의 값은?" + "</<h4>" + "<br>" + "<h2>" + range_num + "</h2>");
                // 체크된 값이 없다면?
            } else {
                $(".modal-body").append(`<h4>모든 항목을 체크해주세요!</h4>`);
            }
        });

        // pdf 버튼 클릭 시(이미지화 하여 pdf파일 생성)
        $('#btn_pdf').click(function (){
            html2canvas($('#pdf_wrap')[0]).then(function(canvas) {
                var imgWidth = 210;
                var pageHeight = imgWidth * 1414;
                var imgHeight = canvas.height * imgWidth / canvas.width;
                var heightLeft = imgHeight;
                var doc = new jsPDF('p', 'mm'); //jspdf객체 생성
                var position = 0;
                var imgData = canvas.toDataURL('image/png'); //캔버스를 이미지로 변환
                doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight); //이미지를 기반으로 pdf생성
                heightLeft -= pageHeight;

                while (heightLeft >= 50){
                    position = heightLeft - imgHeight;
                    doc.addPage();
                    doc.addImage(imgData, 'PNG', 0, position, imgWidth, imgHeight);
                    heightLeft -= pageHeight;
                }
                doc.save('sample-file.pdf'); //pdf저장
            });
        });
    });
</script>
</html>
