<!DOCTYPE html>
<html>
  <head>
    <title>RMR List</title>
    
  </head>
  <body>
    <h1>RMR List</h1>
    <ul>
    <li><a href="/?id = HTML">HTML</a></li>
    <li><a href="/?id = CSS">CSS</a></li>
    <li><a href="/?id = javaScript">javaScript</a></li>
</ul>
  </body>
</html>
