#btn_select{
    float: right;
    display: none;
background-color: rgb(153,153,255);
    border: 1px solid rgb(153,153,255);
    margin-right: 10px;
}
#btn_save{
    margin-right: 10px;
    float: right;
    display: none;
}
#btn_update{
    float: right;
    display: none;
    margin-right: 10px;
}
#modal{
    margin: 0px 10px 4px 0px;
    float: right;
}
.modal-body{
    color: dodgerblue;
}
.modal-title{
    color: midnightblue;
    font-weight: bolder;
    font-style: italic;
}
.input_style{
    font-weight: bolder;
    font-style: italic;
    font-size: 35px;
}
#ex_edit{
    width:70%;
}
#range_value, #slider_value_view, #range_value_label{
    color: #005cbf;
    font-size: 30px;
    font-style: italic
}
#range_num{
    width:60%;
}
#btn_pdf{
    margin-right: 10px;
    float: right;
}
